.form-container {
  margin-top: 20px;
  width: 60%;
  height: 500px;
  display: flex;
  /* From https://css.glass */
  background: rgba(129, 129, 129, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(129, 129, 129, 0.21);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: auto;
}

.input-field {
  width: 100%;
  padding: 18px;
  margin: 10px 0;
  border: 1px solid var(--gray-30); /* thin gray border */
  border-radius: 100px;
  /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); */
  background-color: var(--gray-10); /* light black background */
  color: var(--gray-35); /* gray text color for hint */
}

/* Remove blue outline and make it red when selected */
.input-field:focus {
  outline: none;
  border-color: var(--red-60);
}

.red-text{
  color : var(--red-60)
}

.forgot-password {
  margin: 15px 0;
  color: #fff;
  text-decoration: none;
}

.login-button,
.signup-button {
  width: 100%;
  padding: 18px;
  
  border: 1px solid var(--gray-30);
  border-radius: 100px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-button {
  background-color: var(--red-60);
  margin-bottom: 10px;
  color: var(--gray-15);
  border: none;
}

.signup-button {
  background-color: var(--gray-20);
}
